@page "/list"

@if (Projects == null)
{
    <div class="spinner"></div>
}
else
{
<MatTable Items="@Projects" class="mat-elevation-z5" FilterByColumnName="Name" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
    <MatTableHeader>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>ID</th>
        <th width="60%">Name</th>
        <th>Description</th>
    </MatTableHeader>
    <MatTableRow>        
        <td><a href="javascript: void(0)">Open</a></td>
        <td><a href="javascript: void(0)">Delete</a></td>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Description</td>
    </MatTableRow>
</MatTable>
}