@page "/"

<div style="margin:auto;text-align:center;margin-top:20%;">
    <p style="color:#d7d6d6;font-size:350%;text-align:center;">OpenFMB Adapter<br />Configuration</p>
    <div style="margin:auto;text-align:center;">
        <MatButton Unelevated="true" OnClick="@NewConfiguration" Style="width:120px;text-align:center;"><MatIcon Icon="settings"></MatIcon>&nbsp;New</MatButton>
        <MatButton Unelevated="true" OnClick="@List" Style="width:120px;text-align:center;"><MatIcon Icon="open_in_new"></MatIcon>&nbsp;Open</MatButton>
        <MatButton Unelevated="true" Style="width:120px;text-align:center;"><MatIcon Icon="import_export"></MatIcon>&nbsp;Import</MatButton>    
    </div>
</div>
